/* Import css's */
@import './styles/variables.css';
@import './styles/header.css';
@import './styles/btn.css';
@import './styles/forms.css';


:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background: no-repeat fixed var(--url);
    background-size: cover;
}


::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;

  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.container {
    height: 85%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 3rem;
    padding: 2rem 1rem;
    background-color: var(--color-background);
    overflow: hidden;
}

.inner-container {
    overflow-y: auto;
    height: 100%;
    width: 97%;
    margin: 0 2rem;
    padding-right: 1rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}

.account {
    padding-bottom: 1rem;
}

.account hr {
    border: 1px solid rgba(32, 32, 32, 0.65);
}




