.btn {
    border: 1px solid var(--color-btn-border);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
} 

.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
    margin-left: 1rem;
}

.btn-row > *:first-child {
    margin-left: 0;
}

.btn-primary {
    color: var(--color-text-dark);
    background-color: var(--bg-btn-safe);
}

.del {
    color: var(--color-text-dark);
    background-color: var(--bg-btn-danger);

}

.btn-primary:hover {
    background-color: rgb(160, 170, 140);
    transition: ease-in-out 0.2s;
}

.del:hover {
    background-color: rgb(185, 70, 70);
    transition: ease-in-out 0.2s;
}


.btn-mini a, .btn-mini form button {
    padding: 3px;
    margin-right: 5px;
    font-size: 20px;
}

.btn-mini {
    display: flex;
    margin-bottom: 1rem;
}