.btn {
    border: 1px solid var(--color-btn-border);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
} 

.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
    margin-left: 1rem;
}

.btn-row > *:first-child {
    margin-left: 0;
}

.btn-primary {
    color: var(--color-text-dark);
    background-color: var(--bg-btn-safe);
}

.del {
    color: var(--color-text-dark);
    background-color: var(--bg-btn-danger);

}

.btn-primary:hover {
    background-color: rgb(51, 75, 51);
    transition: ease-in-out 0.2s;
}

.del:hover {
    background-color: rgb(163, 28, 28);
    transition: ease-in-out 0.2s;
}