:root {
    --bg-btn-danger: rgb(177, 112, 101);
    --bg-btn-safe: rgb(231, 215, 122);
    --color-main-theme: rgb(80, 34, 34);
    --color-background: rgba(17, 17, 17, 0.068);
    --color-text-light: rgb(255, 246, 254);
    --color-text-dark: rgb(24, 22, 23);

    --color-btn-border:  rgb(255, 255, 255);

    --nav-title-font-weight: bold;
}