<div class="grid-form">
    <label>First Name</label>
    <input type="text" name="first_name"  placeholder="John" value="<%= customer.first_name %>"> 
    <label>Last Name</label>
    <input type="text" name="last_name"  placeholder="Doe" value="<%= customer.last_name %>"> 
    <label>City</label>
    <input type="text" name="city"  placeholder="Gjøvik" value="<%= customer.city %>">
</div>
