<div class="grid-form">
    <label>Personal Number</label>  
    <input type="text" name="personal_number" pattern="\d{11}" title="Please enter your personal number" placeholder="ddmmyy 00000" value="<%= customer.personal_number %>"> 
</div>