<label>First Name</label>
<input type="text" name="first_name"  placeholder="John" value="<%= customer.first_name %>"> <br>
<label>Last Name</label>
<input type="text" name="last_name"  placeholder="Doe" value="<%= customer.last_name %>"> <br>
<label>City</label>
<input type="text" name="city"  placeholder="Gjøvik" value="<%= customer.city %>">